Migration table created successfully.
CreateUsersTable: create table "users" ("id" bigserial primary key not null, "name" varchar(255) not null, "email" varchar(255) not null, "email_verified_at" timestamp(0) without time zone null, "password" varchar(255) not null, "remember_token" varchar(100) null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)
CreateUsersTable: alter table "users" add constraint "users_email_unique" unique ("email")
2014_10_12_100000_create_password_resets_table: create table "password_resets" ("email" varchar(255) not null, "token" varchar(255) not null, "created_at" timestamp(0) without time zone null)
2014_10_12_100000_create_password_resets_table: create index "password_resets_email_index" on "password_resets" ("email")
CreateFailedJobsTable: create table "failed_jobs" ("id" bigserial primary key not null, "uuid" varchar(255) not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" timestamp(0) without time zone default CURRENT_TIMESTAMP not null)
CreateFailedJobsTable: alter table "failed_jobs" add constraint "failed_jobs_uuid_unique" unique ("uuid")
